#! /usr/bin/env bash

%{ for service in services ~}
echo "Cloning ${service}..."
git clone "https://github.com/enowars/enowars7-service-${service}.git"

mv enowars7-service-${service}/checker .
rm -rf enowars7-service-${service}
cd checker

echo "Starting ${service}-checker..."
docker compose up --build --force-recreate -d
cd ..
%{ endfor }