#! /usr/bin/env bash

set -euo pipefail

echo "Installing necessary dependencies..."
sudo apt-get update
sudo apt-get install -y docker.io
sudo systemctl start docker
sudo systemctl enable docker

%{ for service in services ~}
echo "Cloning ${service}..."
sudo git clone "git@github.com:enowars/enowars7-service-${service}.git"

sudo mv enowars7-service-${service}/service .
sudo mv service ${service}
sudo rm -rf enowars7-service-${service}
cd ${service}

echo "Starting ${service}..."
sudo docker compose up --build --force-recreate -d
cd ..
%{ endfor }