#! /usr/bin/env bash

echo "Installing necessary dependencies..."
sudo apt update
sudo apt install -y docker.io
sudo systemctl start docker
sudo systemctl enable docker

%{ for service in services ~}
echo "Cloning ${service}..."
sudo git clone "https://github.com/enowars/enowars7-service-${service}.git"

sudo mv enowars7-service-${service}/checker .
sudo rm -rf enowars7-service-${service}
cd checker

echo "Starting ${service}-checker..."
sudo docker compose up --build --force-recreate -d
cd ..
%{ endfor }