__pycache__
.vscode
.env
!.gitkeep
virtualbox.box
.terraform
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup
.terraform.lock.hcl
test-setup/azure/logs/*
test-setup/azure/config/*
!test-setup/azure/config/.gitkeep
test-setup/azure/main.tf
test-setup/azure/variables.tf
test-setup/azure/outputs.tf
test-setup/azure/versions.tf
test-setup/azure/build.sh
test-setup/azure/deploy.sh
test-setup/azure/data/*
!test-setup/azure/data/.gitkeep
