__pycache__
.vscode
services
!.gitkeep
virtualbox.box
.terraform
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup
.terraform.lock.hcl
test-setup/terraform/azure-setup/logs/*