__pycache__
.vscode
!.gitkeep
virtualbox.box
.terraform
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup
.terraform.lock.hcl
test-setup/azure/logs/*
test-setup/azure/config/*
!test-setup/azure/config/.gitkeep
